/**
 * Footer Style Sheet
 * AutomationIL, Meetup
 *
 * Copyright (c) 2022. by Way2CU, http://way2cu.com
 * Authors: Mladen Mijatov
 */

footer {
	padding: 0 calc(~'(100% - 1200px) / 2');
	padding-top: 10rem;

	background-image:
		url(../images/clouds_2.svg),
		linear-gradient(@color_background 0%, darken(@color_dark_purple, 20) 100%);
	background-position: center -1050px, 100% 100%;
	background-size: 1918px 1404px, 100% 100%;
	background-repeat: repeat-x, no-repeat;

	&.no-clouds {
		background-image: linear-gradient(darken(@color_dark_purple, 35) 0%,  darken(@color_dark_purple, 20) 100%);
		background-position: 100% 100%;
		background-size: 100% 100%;
		background-repeat: no-repeat;
	}

	section#copyright {
		color: @color_background;

		// decorations
		> svg {
			position: absolute;
			fill: lighten(@color_dark_purple, 10);
			opacity: 0.5;
			pointer-events: none;
			mix-blend-mode: color-dodge;

			&:nth-of-type(1) {
				width: 200px;
				height: 696px;
				top: 0;
				left: calc(~'50% - 850px');
				transform: scale(0.8);
			}

			&:nth-of-type(2) {
				width: 200px;
				height: 696px;
				top: 0;
				left: calc(~'50% + 650px');
				transform: scale(0.8) rotate(180deg);
			}
		}

		div.copyright.light {
			color: @color_text;
			text-align: center;
			background-color: transparent;
			background-position: calc(~'50% - 100px') center;

			> a {
				color: @color_pink;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}
