/**
 * Header Style Sheet
 * AutomationIL, Meetup
 *
 * Copyright (c) 2022. by Way2CU, http://way2cu.com
 * Authors: Mladen Mijatov
 */

header {
	position: relative;
	padding: 50px calc(~'(100vw - 1200px)' / 2);
	padding-top: 5em;
	min-height: 700px;

	background-image:
		url(../images/clouds_1.svg),
		linear-gradient(@color_background 30%, darken(@color_dark_purple, 35));
	background-size: 1920px 1404px, 100% 100%;
	background-position: center 100px, top left;
	background-repeat: no-repeat, no-repeat;
	overflow-x: clip;

	&.inner {
		padding-top: 5em;
		min-height: 350px;
		background-image:
			url(../images/clouds_2.svg),
			linear-gradient(@color_background 30%, darken(@color_dark_purple, 35));
		background-position: center 50px, top left;
	}

	// decorations
	> svg {
		position: absolute;
		fill: lighten(@color_dark_purple, 10);
		opacity: 0.5;
		pointer-events: none;
		mix-blend-mode: screen;

		&:nth-of-type(1) {
			width: 200px;
			height: 696px;
			top: 30px;
			left: calc(~'50% - 950px');

			transform: scaleX(-1);
		}

		&:nth-of-type(2) {
			width: 434px;
			height: 448px;
			top: 390px;
			left: calc(~'50% - 700px');

			transform: scaleX(-1);
		}

		&:nth-of-type(3) {
			width: 182px;
			height: 355px;
			top: 450px;
			left: calc(~'50% + 230px');
		}

		&:nth-of-type(4) {
			width: 857px;
			height: 1091px;
			top: -230px;
			left: calc(~'50% + 100px');
		}
	}

	// menus
	nav {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		padding: 0 calc(~'(100vw - 1200px) / 2');
		z-index: 100000;

		border-bottom: 1px solid darken(@color_dark_purple, 40);
		background-image: linear-gradient(
			rgba(0, 0, 0, 0.9) 0%,
			rgba(0, 0, 0, 0.4) 100%,
			);

		a {
			display: inline-block;
			vertical-align: middle;
			padding: 0.5em 1em;
			margin-left: 5px;
			margin-right: 5px;

			border-radius: 1em;
			background-color: rgba(0, 0, 0, 0.5);

			color: @color_text;
			// font-size: 1.5rem;
			font-weight: bold;
			text-decoration: none;
			line-height: 1;

			transition: 0.3s all;

			&:hover {
				background-color: @color_pink;
			}

			&.active {
				background-color: @color_pink;
				color: @color_text;
			}

			&.logo {
				width: fit-content;
				margin-right: 3em;

				background-color: transparent;

				font-size: 1.5em;
				font-weight: bold;
				direction: ltr;

				html[dir=rtl] & {
					margin-right: auto;
					margin-left: 10rem;
				}

				&:hover {
					background-color: transparent;
					color: @color_pink;
				}

				img {
					display: inline-block;
					vertical-align: middle;
					height: 2em;
				}
			}

			&.button.passive {
				padding: 0.6em;
				color: @color_text;
			}

			&.button.call-to-action {
				padding-top: 2px;
				padding-bottom: 2px;

				background-color: @color_dark_purple;
				color: @color_text;
			}
		}

		> div {
			display: inline-block;
			vertical-align: middle;

			div.language {
				position: absolute;
				top: 20px;
				right: 20px;

				html[dir=rtl] & {
					right: auto;
					left: 20px;
				}

				a {
					color: @color_pink;

					&.active {
						background-color: @color_pink;
						color: @color_text;
					}

					&:hover {
						background-color: @color_text;
						color: @color_pink;
					}
				}
			}
		}
	}

	> div {
		padding-top: 2em;
		text-align: center;

		a.button {
			display: block;
			width: fit-content;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 0.5em;

			font-size: 2rem;

			&:nth-child(2) {
				transform: scale(0.7);
			}
		}
	}

	figure {
		margin: 0;
		margin-bottom: 3em;
		padding: 0;

		text-align: center;

		svg {
			max-height: 300px;
			transform: scale(1.8);
			margin-bottom: 2rem;
		}

		&.small {
			margin-bottom: 0em;

			svg {
				max-height: 200px;
			}
		}
	}

	article {
		width: 1000px;
		margin-left: auto;
		margin-right: auto;

		text-align: center;

		&.sponsors,
		&.agenda,
		&.hackathon,
		&.group_purchase,
		&.spokespersons {
			padding-top: 1em;

			h2 {
				font-size: 5rem;
				.title-shadow(@size: 3px;);
			}

			p {
				color: @color_pink;
				font-size: 1.5rem;
				font-weight: bold;
			}
		}
	}

	strong {
		display: block;
		width: fit-content;
		padding: 0px 10px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 20px;

		font-size: 1.7em;
		text-align: center;
		text-transform: uppercase;

		&.phrase {
			position: relative;
			padding: 3px 20px;
			padding-top: 7px;
			margin-bottom: 1em;

			font-size: 2em;

			&::before {
				position: absolute;
				top: 0;
				left: 0;
				width: 30%;
				height: 100%;
				content: '';

				border: 2px solid @color_pink;
				border-right-width: 0;
				border-bottom-width: 0;
				background-image: linear-gradient(@color_pink, @color_pink);
				background-size: 50% 2px;
				background-repeat: no-repeat;
				background-position: left bottom;
				pointer-events: none;
			}

			&::after {
				position: absolute;
				top: 0;
				right: 0;
				width: 30%;
				height: 100%;
				content: '';

				border: 2px solid @color_pink;
				border-left-width: 0;
				border-top-width: 0;
				background-image: linear-gradient(@color_pink, @color_pink);
				background-size: 50% 2px;
				background-repeat: no-repeat;
				background-position: right top;
				pointer-events: none;
			}
		}

		&.date, &.location {
			margin-bottom: 10px;
			border: 1px solid @color_text;
			text-transform: none;
		}
	}

	div#checkout_container {
		padding-top: 0;

		div#checkout_steps a,
		div#checkout_steps a::before {
			color: @color_text;
		}
	}
}
