/**
 * Header Mobile Style Sheet
 * AutomationIL, Meetup
 *
 * Copyright (c) 2022. by Way2CU, http://way2cu.com
 * Authors: Mladen Mijatov, Vladimir Anusic
 */

header {
	padding: 1rem;
	padding-top: 2rem;
	padding-bottom: 6rem;

	background:
		url(../images/clouds_2.svg),
		linear-gradient(@color_background, darken(@color_dark_purple, 35));
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center bottom -160px, center;


	a.button {
		display: block;
		width: fit-content;
		margin-left: auto;
		margin-right: auto;
		margin-top: 2rem;
	}

	h1 {
		margin: 0;
		padding: 0;
		margin-bottom: 1rem;

		font-size: 3rem;
		text-align: center;
		font-weight: bold;
		line-height: 100%;
	}

	figure {
		margin: 0;
		margin-bottom: 2rem;
		padding: 0;

		text-align: center;

		svg {
			max-height: 200px;
		}
	}

	article.agenda,
	article.sponsors,
	article.hackathon,
	article.spokespersons {
		margin-top: 1rem;

		h2 {
			font-size: 2.5rem;
		}
	}

	strong {
		display: block;
		width: fit-content;
		padding: 0px 10px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 1rem;

		font-size: 1.25rem;
		text-align: center;
		text-transform: uppercase;

		&.phrase {
			position: relative;
			padding: 3px 20px;
			padding-top: 7px;
			margin-bottom: 2em;

			&::before {
				position: absolute;
				top: 0;
				left: 0;
				width: 30%;
				height: 100%;
				content: '';

				border: 2px solid @color_pink;
				border-right-width: 0;
				border-bottom-width: 0;
				background-image: linear-gradient(@color_pink, @color_pink);
				background-size: 50% 2px;
				background-repeat: no-repeat;
				background-position: left bottom;
			}

			&::after {
				position: absolute;
				top: 0;
				right: 0;
				width: 30%;
				height: 100%;
				content: '';

				border: 2px solid @color_pink;
				border-left-width: 0;
				border-top-width: 0;
				background-image: linear-gradient(@color_pink, @color_pink);
				background-size: 50% 2px;
				background-repeat: no-repeat;
				background-position: right top;
			}
		}

		&.date, &.location {
			margin-bottom: 10px;
			border: 1px solid @color_text;
			text-transform: none;
		}
	}

	nav {
		padding: 0.5em;
		background-color: @color_background;
		background-image: linear-gradient(
			darken(@color_dark_purple, 40),
			@color_background
			);

		a.logo {
			display: inline-block;
			position: relative;
			left: 50%;
			top: 0;
			margin: 0;
			margin-left: auto;
			margin-right: auto;

			color: @color_text;
			font-size: 1.25rem;
			font-weight: bold;
			text-decoration: none;
			direction: ltr;

			transform: translate(-50%, 0);

			html[dir=rtl] & {
				left: auto;
				right: 50%;
				transform: translate(50%, 0);
			}

			img {
				display: inline-block;
				vertical-align: middle;
				height: 2em;
			}
		}

		> a.call-to-action {
			position: absolute;
			top: 50%;
			right: 5px;
			margin: 0;

			transform: translate(0, -50%);

			html[dir=rtl] & {
				left: 5px;
				right: auto;
			}
		}

		a.menu {  // floating menu button
			position: absolute;
			top: 50%;
			left: 5px;
			width: @finger_size;
			height: @finger_size;
			box-sizing: border-box;
			padding: 0.5em;

			border-radius: 0.5em;
			background-color: @color_pink;
			transform: translate(0, -50%);

			html[dir=rtl] & {
				right: 5px;
				left: auto;
			}

			svg {
				width: 100%;
				height: 100%;
				fill: @color_text;
			}
		}

		div.mobile_menu {
			top: 3.5em;
			padding: 1em;

			border: 1px solid @color_dark_purple;
			background-color: @color_background;
			color: @color_text;

			a:not(.button) {
				display: block;
				padding: 0.5em 1em;

				border-radius: 1em;

				color: @color_text;
				font-weight: bold;
				text-decoration: none;

				&.active {
					background-color: @color_pink;
					color: @color_text;
				}

			}

			div.language {
				margin-top: 2em;

				a:not(.button) {
					margin-bottom: 3px;
					padding: 5px;

					border-radius: 7px;

					color: @color_pink;
					font-weight: bold;
					text-decoration: none;
					line-height: 1;
					transition: all 0.3s;

					&.active {
						background-color: @color_pink;
						color: @color_text;
					}

					&:hover {
						background-color: @color_text;
						color: @color_pink;
					}
				}

				a.button.call-to-action {
					margin-bottom: 2em;
					padding-top: 2px;
					padding-bottom: 2px;

					background-color: @color_dark_purple;
					color: @color_text;
				}
			}
		}
	}

	ol#speakers {
		position: relative;
		height: 240px;
		margin: 0;
		margin-top: 3em;
		padding: 0;

		list-style-type: none;
		list-style-image: none;
		overflow: hidden;

		li {
			position: absolute;
			top: 0px;

			.elements-in-row(2, 20px, 0px);

			text-align: center;
			pointer-events: none;
			opacity: 0;

			transition: all 1s;

			&.transit {
				transition: none;
			}

			&.visible {
				opacity: 1;
				top: 0px;
			}

			// picture
			figure {
				display: block;
				width: 75px;
				height: 75px;
				margin: 0;
				margin-bottom: 5px;
				margin-left: auto;
				margin-right: auto;
				padding: 5px;

				border: 2px solid fade(@color_text, 50);
				border-radius: 50%;

				overflow: hidden;

				img {
					width: 75px;
					height: 75px;
					border-radius: 50%;
				}
			}

			// lecturer's name
			span.name {
				display: block;
				color: @color_text;
				font-size: 1.2rem;
				font-weight: bold;
				.title-shadow(@size: 2px);
			}

			> div {
				overflow: hidden;
				max-height: 7em;
				padding: 0.3em;
				box-sizing: border-box;

				border-radius: 1em;
				background-color: @color_text;
				color: @color_background;

				hr {
					display: block;
					width: 100px;
					height: 1px;
					margin-left: auto;
					margin-right: auto;

					border: 0;
					background-color: fade(@color_pink, 20);
				}

				p:first-child {
					font-weight: bold;

					img {
						display: block;
						margin-left: auto;
						margin-right: auto;
						max-height: 2em;
						max-width: 100%;
						box-sizing: border-box;

						&[alt="AppsFlyer"] { max-height: 3em; }
						&[alt="Tel Aviv-Yafo Municipality"] { max-height: 4em; }
						&[alt="Leandolini"] { max-height: 3em; }
						&[alt="Oct Group"] { max-height: 2.5em; }
						&[alt="Vitrue"] { max-height: 2.5em; }
						&[alt="Lior Vaknin"] { max-height: 2.5em; }
					}
				}

				*:last-child {
					margin-bottom: 0;
					padding-bottom: 0;
				}
			}
		}
	}
}
