/**
 * Main Style Sheet
 * AutomationIL, Meetup
 *
 * Copyright (c) 2017. by Way2CU, http://way2cu.com
 * Authors: Mladen Mijatov, Vladimir Anusic
 */

@import (reference) 'common.less';
@import (reference) 'stock/functions.less';
@import 'stock/gallery.css';
@import 'fonts.less';
@import 'header_mobile.less';
@import 'content_mobile.less';
// @import 'footer_mobile.less';

@import (css) 'stock/copyright_mobile.css';


body {
	background-color: @color_background;
	color: @color_text;
}

h1,
h2,
h3,
h4,
h5 {
	margin: 0;
	margin-bottom: @header_spacing;
	padding: 0;
}

p {
	margin: 0;
	margin-bottom: @paragraph_spacing;
	padding: 0;
}
